<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="core.launcher.application">
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:theme="@style/AppTheme"
    >
        <activity
            android:name="core.launcher.application.StartupSettings"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:description="@string/ServicePhoneEvents"
            android:label="@string/ServicePhoneEventsName"
            android:name="core.service.PhoneEvents.PhoneEventsProvider"
            android:exported="true"
            android:icon="@mipmap/phone_service"
            />
        <service
            android:description="@string/ServiceWeather"
            android:label="@string/ServiceWeatherName"
            android:name="core.service.Weather.WeatherProvider"
            android:exported="true"
            android:icon="@mipmap/weather_service"
            />
    </application>
</manifest>
